.card {
  max-width: 413px;
  position: relative;
}

.card__delete-button {
  background-color: #0000004d;
  opacity: 0.3;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10px;
  top: 19px;
  transition: 0.4s ease;
}

.card__delete-button:hover {
  background-color: #ff6565;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s ease;
}

.card__delete-img {
  width: 12px;
  height: 15px;
}

.card__img-button {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  cursor: pointer;
}

.card__image {
  width: 100%;
  height: 100%;
  max-height: 413px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__ui {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card__description {
  font-family: poppins, Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

.card__button {
  border: none;
  opacity: 40%;
  transition: 0.3s linear;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  height: 20px;
}

.card__button::before {
  content: "";
  background-image: url(../images/Like-Icon.svg);
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
}

.card__button:hover {
  opacity: 100%;
}

.card__button-liked {
  background-image: url(../images/card_button_liked.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 20px;
  opacity: 1;
  padding: 0;
  border: 0;
  transition: 0.3s linear;
  cursor: pointer;
}

.card__button-liked:hover {
  opacity: 50%;
}

@media screen and (max-width: 844px) {
  .card__image {
    width: 100%;
    max-height: 288px;
  }

  .card__description {
    font-size: 18px;
    line-height: 1;
    max-width: 235px;
  }

  .card__like-button {
    height: 18px;
  }

  .card__button::before {
    width: 20px;
    height: 18px;
  }
}
