.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin-top: auto;
}

.footer__copyright {
  font-family: poppins, Arial, Helvetica, sans-serif;
  opacity: 70%;
  font-weight: 400;
  margin: 0;
  font-size: 16px;
  line-height: 1;
}
