.modal {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition:
    opacity 0.3s linear,
    visibility 0.3s linear;
  opacity: 0;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 730px;
  padding: 32px 50px;
  border-radius: 8px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  padding-bottom: 32px;
}

.modal__title {
  font-family: poppins, Arial, Helvetica, sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  padding: 4px 0;
}

.modal__exit-icon {
  background-image: url(../images/x-icon.svg);
  background-size: cover;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  transition: 0.3s linear;
  border: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.modal__exit-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__form-container {
  max-width: 630px;
  margin: auto;
}

.modal__form-profile {
  padding: 0;
  border: 0;
  margin: 0;
}

.modal__form-input-wrap {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.modal__form-input {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1;
  max-height: 52px;
  font-weight: 500;
  border: 1px solid #21212166;
  border-radius: 8px;
  padding: 16px 0 16px 12px;
  transition: 0.3s linear;
  width: 100%;
  box-sizing: border-box;
}

.modal__form-input:hover {
  border: 1px solid #212121;
  cursor: pointer;
}

.modal__form-input:not(:placeholder-shown) {
  color: #212121;
}

.modal__form-label {
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__form-button {
  background: #212121;
  color: #fff;
  border-radius: 8px;
  border: none;
  transition: 0.3s linear;
  margin-top: auto;
  padding: 18px 58px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  font-weight: 500;
}

.modal__form-button:hover {
  background-color: #212121cc;
}

.modal_type_preview {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.modal__preview-wrap {
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.modal__preview-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__preview-exit-button {
  border: 0;
  padding: 0;
  background-color: transparent;
  text-align: start;
  cursor: pointer;
}

.modal__preview-img {
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
  margin-right: 12.57px;
}

.modal__preview-exit-icon {
  width: 40px;
  height: 40px;
  transition: 0.4s ease;
  position: absolute;
  top: 0;
}

.modal__preview-exit-icon:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__preview-caption {
  color: #fff;
  font-size: 20px;
  line-height: 125%;
  background-color: #212121;
  margin: 0;
  padding: 4px 8px;
  border-radius: 8px;
  display: block;
  margin-top: 8px;
  width: fit-content;
}

.form__input-error {
  opacity: 0;
}

.form__input_error_active {
  opacity: 1;
  color: #ff0000b2;
  margin-top: 8px;
}

.form__input_type_error {
  border-color: #ff000099;
}

.form__submit_inactive {
  cursor: default;
  background-color: #212121cc;
}

@media screen and (max-width: 570px) {
  .modal__container {
    padding: 12px;
  }

  .modal__row {
    padding-bottom: 24px;
    align-items: center;
  }

  .modal__title {
    font-size: 20px;
    padding: 10px 0;
  }
  .modal__form-input-wrap {
    padding-bottom: 24px;
  }

  .modal__form-input {
    font-size: 16px;
  }

  .modal__form-button {
    width: 100%;
  }

  .modal__preview-img {
    max-width: 100%;
    margin-right: 0;
  }

  .modal__preview-exit-icon {
    top: -48px;
    right: 0;
  }
}
