.modal {
  position: fixed;
  background-color: rgba(33, 33, 33, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: opacity 0.4s linear, visibility 0.4s linear;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  max-width: 730px;
  padding: 32px 50px;
  border-radius: 8px;
}

.modal__row {
  display: flex;
  justify-content: space-between;
  max-width: 630px;
  padding-bottom: 32px;
}

.modal__title {
  margin: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  padding: 4px 0;
}

.modal__exit-icon {
  width: 40px;
  height: 40px;
  opacity: 40%;
  transition: 0.3s linear;
}

.modal__exit-icon:hover {
  opacity: 1;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .modal__container {
    padding: 12px;
  }

  .modal__row {
    padding-bottom: 24px;
    align-items: center;
  }

  .modal__title {
    font-size: 20px;
    height: 20px;
  }
}
