.profile {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  border-bottom: 1px #21212166 solid;
  margin: auto;
  margin-top: 34px;
}

.profile__avatar {
  border-radius: 8px;
}

.profile__customization {
  display: flex;
  column-gap: 20px;
}

.profile__information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile__name-and-bio {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  max-width: 420px;
}

.profile__name {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__bio {
  font-family: poppins, Arial, Helvetica, sans-serif;
  opacity: 70%;
  line-height: 1;
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-button-layout {
  display: flex;
  justify-content: flex-start;
  border: none;
  opacity: 70%;
  transition: 0.3s linear;
  height: 16px;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
  cursor: pointer;
  gap: 6px;
}

.profile__edit-button-layout:hover {
  opacity: 100%;
}

.profile__new-post-button {
  background: #212121;
  color: #fff;
  border-radius: 8px;
  height: 52px;
  padding: 0;
  border: none;
  width: 149px;
  transition: 0.3s linear;
  margin-top: auto;
  font-family: poppins, Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.profile__plus-button-image {
  height: 12px;
  width: 12px;
  margin-right: 8px;
}

.profile__new-post-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 844px) {
  .profile {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .profile__customization {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
  }

  .profile__information {
    text-align: center;
  }

  .profile__avatar {
    max-width: 80px;
    max-height: 80px;
    margin: 0 0 12px 0;
  }

  .profile__name {
    font-size: 20px;
  }

  .profile__edit-button-layout {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  .profile__new-post-button {
    width: 100%;
  }
}
